$cor-primaria: #ff6600;
$cor-secundaria: #333;
$fontes: Arial, sans-serif;
$tamanho-base: 16px;

body {
    font-family: $fontes;
    color: $cor-primaria;
    font-size: $tamanho-base;
}
h1 {
    color: $cor-secundaria;
    font-size: $tamanho-base * 2;
}